* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 2;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  position: relative;
  background-color: #ddd;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  height: 50rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  overflow: hidden;
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: 0;

  text-align: center;
  /* font-size: 1.8rem;
  font-weight: 600; */
  text-transform: uppercase;
  color: #000;
}

.neighbour {
  transform: scale(0.9) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  position: absolute;
  top: 0;
}
.country.neighbour .country__img {
  top: 2rem;
}
.country__flagcoat {
  position: absolute;
  bottom: 0;

  left: 0;
  width: 30rem;
  height: 30rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
  position: absolute;
  height: 30rem;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(101%);
  transition: transform 0.6s ease-in-out;
}
.country:hover > .country__data {
  transform: translateY(0);
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #ccc;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
